@import url(../../../node_modules/reset-css/reset.css);

html {
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    font-family: "YSText";
}

.App {
    width: 96%;
    max-width: 704px;
    margin: 0 auto;
    position: relative;
}